[submodule "3rdparty/flashinfer"]
	path = 3rdparty/flashinfer
	url = git@github.com:brian030128/flashinfer.git
	branch = beam_engine
[submodule "3rdparty/FastTree-Artifact"]
	path = 3rdparty/FastTree-Artifact
	url = git@github.com:brian030128/FastTree-Artifact.git
	branch = main
[submodule "3rdparty/DeFT"]
	path = 3rdparty/DeFT
	url = git@github.com:LINs-lab/DeFT.git
